# 忽略 unpackage 目录的所有内容
unpackage/
unpackage/*

# 其他常用的 uni-app 忽略项
.DS_Store
node_modules/
dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# 编辑器目录和文件
.idea
.vscode
.hbuilderx
*.suo
*.ntvs*
*.njsproj
*.sln

# 本地环境文件
.env.local
.env.*.local

# 日志文件
npm-debug.log*
yarn-debug.log*
yarn-error.log* 